body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background: #ebf0eb;
    scroll-snap-type: x mandatory;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 9px;
}
  
::-webkit-scrollbar-track {
    background: #ebf0eb;
}
  
::-webkit-scrollbar-thumb {
    background: #252525;
}
  
::-webkit-scrollbar-thumb:hover {
    background: #575857;
}

nav{
    user-select: none;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    padding: 1rem 8rem;
    align-items: center;
}

#edit{
    border: 0;
}

nav a, #joinUs a, #edit, #save{
    user-select: none;
    padding: 0.7rem 3rem;
    text-decoration: none;
    color: #252525;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    font: 18px Poppins;
    background: #658667;
    margin: 0 0 0 2rem;
    border-radius: 20px;
    
}

a:not(.slider):hover, #joinUs a:hover, #edit:hover, #save:hover{
    color: #f8f8f8;
    transform: scale(1.1);
}

.slider .info {
    color: #252525;
    text-decoration: none;
}

.item{
    font: 18px Poppins;
    background: #658667;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 2rem;
    border-radius: 20px;
}

#links{
    display: flex;
    justify-content: space-evenly;
}

#logo{
    font: 50px Poppins;
    
}

#logo span{
    font: 17px Poppins;
    text-transform: uppercase;
}

#main{
    width: 100%;
    height: 50rem;
    display: flex;
    align-items: center;
    flex-direction: row;
}

#left {
    padding: 5rem 0;
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#left{
    font: 16px Poppins;
    padding: 0 10rem;
    box-sizing: border-box;
}

#left h1{
    font: 60px Poppins;
    margin-bottom: 0;
}

#left h2, #employees h1, #employers h1, #myOffers h1, #myData h1, #workApplications h1, #jobOffers h1{
    margin-top: 5px;
    font: 40px Poppins;
}

#left h2 span{
    text-transform: uppercase;
    font: 600 40px Poppins;
}

#right{
    width: 50%;
}

#right img{
    width: 70%;
}

#left a{
    padding: 0.7rem 3rem;
    text-decoration: none;
    color: #252525;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    font: 18px Poppins;
    background: #658667;
    border-radius: 20px;
    margin-top: 4rem;
}

#left a:hover{
    color: #f8f8f8;
    border-radius: 10px;
}

#employees{
    margin: 1rem 0 5rem 0;
    box-sizing: border-box;
    width: 100%;
}

.card{
    font: 600 30px Poppins;
    width: 40rem;
    height: 30rem;
    box-sizing: border-box;
    padding: 4rem 4rem;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.card p{
    font: 16px Poppins;
    margin-bottom: 2rem;
}

#cards{
    margin-top: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    box-sizing: border-box;
}

#employees, #employers, #myData, #myOffers ,#workApplications, #jobOffers{
    padding: 0 5rem;
}

#employers{
    font: 20px Poppins;
} 

#employers span{
    font: 600 40px Poppins;
}

#employers div{
    background: #d9e2da;
    margin: 2rem 0;
    padding: 1rem 1rem 0 1rem;
}

#firmData{
    position: relative;
    background: #d9e2da;
    margin: 2rem 0;
    padding: 1rem;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    width: 50%;
}

#firmData span{
    margin-left: 1rem;
}

#firmData img{
    width: 10rem;
    height: 10rem;
    position: absolute;
    top: 10%;
    right: 1rem;
    padding: 1rem;
    border-radius: 10px;
}

#joinUs{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 3rem;
}

#joinUs h1{
    font: 600 50px Poppins;
}

footer{
    color: #f8f8f8;
    width: 100%;
    height: 10rem;
    background: #252525;
}

@media (max-width: 2100px) {
	.card{
        font: 600 20px Poppins;
        width: 30rem;
        height: 40rem;
    }

    .card span{
        font: 600 12px Poppins;
    }
}

@media (max-width: 1600px) {
	#cards{
        flex-wrap: wrap;
    }

    .card{
        font: 600 20px Poppins;
        width: 40rem;
        height: 30rem;
        margin-bottom: 2rem;
    }

    .card span{
        font: 600 12px Poppins;
    }

    nav{
        padding: 1rem 1.5rem;
    }

    nav a{
        padding: 0.7rem 3rem;
        font: 14px Poppins;
        border-radius: 20px;
    }
}

#businesses{
    overflow: hidden;
    user-select: none;
    height: 56vmin;
    margin-bottom: 4rem;
}

.relative{
    position: relative;
}

#imageTrack .image{
    transition: 0.7s;
    width: 40vmin;
    height: 56vmin;
    object-fit: cover;
    object-position: center;
    cursor: pointer;
}


.info{
    background: #d9e2da;
    font: 20px Poppins;
    width: 40vmin;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    top: 70%;
    padding: 0.4rem 0;
    border-radius: 10px;
}

#imageTrack .image:hover{
    transform: scale(1.1);
}

#imageTrack{
    overflow-y: hidden;
    display: flex;
    padding: 0 2rem;
    gap: 4vmin;
    overflow-x: hidden;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(0, 20%);
}

#myOffers{
    width: 100%;
    /* height: 50rem; */
}

#myData{
    width: 100%;
    height: 60rem;
}

.flex{
    display: flex;
    flex-direction: column;
}

.cv{
    position: relative;
    margin-left: 1.5rem;
    display: flex;
    align-items: center;
    width: 90rem;
    font: 18px Poppins;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.cv-name{
    margin: 4rem 2rem;
    font: 600 50px Poppins;
}

.cv-name input{
    font-size: 50px;
    border-radius: 200px;
}

#loginPass{
    font: 25px Poppins;
    margin-bottom: 2rem;
}

.cv-photo img{
    position: absolute;
    left: 7rem;
    top: 2rem;
    width: 8rem;
    height: 8rem;
}

.job-photo img{
    position: absolute;
    left: 5%;
    top: 2rem;
    width: 8rem;
    height: 8rem;
}

.cv-info, .cv-job-experience-education, .cv-abilities-interests, .cv-description{
    border-radius: 0 10px 10px 10px;
    background: #d9e2da;
    width: 80rem;
    margin: 2rem 0;
    padding: 1.7rem 1rem;
}

.job-info, .job-requirements, .job-desc{
    border-radius: 0 10px 10px 10px;
    background: #d9e2da;
    width: 40rem;
    margin: 2rem 0;
    padding: 1.7rem 1rem;
}

.title{
    height: 2.5rem;
    background: #d9e2da;
    padding: 0.2rem 0.8rem;
    border-radius: 10px 10px 0 0;
    font: 600 28px Poppins;
    position: absolute;
    left: 0;
    top: -2rem;
}

#addOffer{
    margin: 0 0 2rem 0;
}

#addOffer:hover{
    cursor: pointer;
}

#wrapper .cv{
    margin-bottom: 3rem;
}

ul{
    margin-top: 1rem;
}

#myData h2{
    font: 40px Poppins;
    color: #658667;
    margin-left: 1.5rem;
}

textarea{
    width: 36.44rem;
    height: 10rem;
}

button{
    background: #658667;
    user-select: none;
    border: 0;
    padding: 0.4rem 1rem;
    text-decoration: none;
    color: #252525;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    margin-left: 1rem;
    font: 16px Poppins;
    display: inline-block;
    border-radius: 20px;
}

li{
    font-size: 18px;
}

button:hover{
    transform: scale(1.1);
}

input[type="file"] {
    display: none;
}

#fileLbl:hover{
    cursor: pointer;
}

input, textarea, #fileLbl{
    box-sizing: border-box;
    background: #ffffff;
    margin: 1rem 0;
    transition: 0.2s;
    border-radius: 20px;
    padding: 0.7rem 1.3rem;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    font-size: 14px;
}

input[type="text"]:focus, input[type="email"]:focus,input[type="password"]:focus, input[type="tel"]:focus, input[type="number"]:focus, #phone:focus{
    outline: 2px solid #7e7c7c;
    font-size: 16px;
}

.cv-name input:focus{
    font-size: 55px;
}

#flex2{
    height: 42rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.appCard{
    width: 40rem;
    background: #d9e2da;
    padding: 2rem 2rem;
    border-radius: 10px;
    display: flex;
    margin-bottom: 1rem;
}

.appCard button{
    font-size: 24px;
}

.infoC{
    display: flex;
    flex-wrap: wrap;
    font: 16px Poppins;
    width: 70%;
}

.infoC img{
    margin-right: 2rem;
    width: 4rem;
    height: 4rem;
}

.infoC h2{
    font: bold 25px Poppins;
    margin: 0;
}

.rightB{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#jobOffers{
    margin-bottom: 3rem;
}

#wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#errorBack{
    z-index: -200;
    opacity: 0;
    backdrop-filter: blur(5px);
    user-select: none;
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#error-message{
    font: 600 40px Poppins;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    flex-direction: column;
    width: 40rem;
    height: 40rem;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: rgba(238, 110, 110, 0.7);
}

#error-message button{
    cursor: pointer;
    color: #f8f8f8;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 0.8rem 4rem;
}